<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src=" https://use.fontawesome.com/releases/v5.14.0/js/all.js "></script>
</head>

<body>
    <div id="app">
        <div id="navbar">
            <navbar-div></navbar-div>
        </div>
        <section class="hero is-gradient is-medium">
            <div class="columns">
                <div class="columns">
                    <div class="hero-body ">
                        <div class="column pl-6">
                            <p class="title is-size-4 has-text-white">
                                ขั้นตอนง่ายๆในการใช้บริการเช่ารถ </p>
                            <div class="column">
                                <p class="subtitle is-size-5 has-text-white">
                                    <img src="https://media.discordapp.net/attachments/1072181252964233328/1076538656891871343/8921537.png" height="30" width="30"> ระบุวันเดินทาง
                                </p>
                            </div>
                            <div class="column">
                                <p class="subtitle is-size-5 has-text-white">
                                    <img src="https://media.discordapp.net/attachments/1072181252964233328/1076542459863105676/8921602.png" height="30" width="30"> ระบุรุ่นรถ/ช่วงราคา/จำนวนที่นั่งที่ต้องการ
                                </p>
                            </div>
                            <div class="column">
                                <p class="subtitle is-size-5 has-text-white">
                                    <img src="https://media.discordapp.net/attachments/1072181252964233328/1076542609008365669/8921657.png" height="30" width="30"> กดค้นหารถ
                                </p>
                            </div>
                            <div class="column">
                                <p class="subtitle is-size-5 has-text-white">
                                    <img src="https://media.discordapp.net/attachments/1072181252964233328/1076542525931802734/8921717.png" height="30" width="30"> กดจองรถที่ต้องการ
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-body  ">
                    <div class="card column  p-5 has-background-primary-light ">
                        <p class="title is-size-6">
                            1. ระบุวันเดินทาง
                        </p>
                        <p class="subtitle is-size-6">
                            <div class="columns">
                                <div class="column is-6">
                                    วันและเวลารับรถ<br>
                                    <input class="cololr_input_card" type="date" value="01/01/2023" data-start-date="10/24/2019">
                                    <input class="cololr_input_card" type="time" id="appt" name="appt" min="09:00" max="18:00" required>
                                </div>
                                <div class="column is-6">
                                    วันและเวลาคืนรถ<br>
                                    <input class="cololr_input_card" type="date" value="01/01/2023" data-start-date="10/24/2019">
                                    <input class="cololr_input_card" type="time" id="appt" name="appt" min="09:00" max="18:00" required>
                                </div>
                            </div>
                        </p>
                        <p class="title is-size-6">
                            2. ระบุรุ่นรถ/ช่วงราคา/จำนวนที่นั่งที่ต้องการ
                        </p>
                        <div class="columns">
                            <div class="column">
                                <div class="select">
                                    <select class="font">
                                        <option>รุ่นรถที่ต้องการ</option>
                                        <option v-for="item in cars" :key="item.id " :value="item.id ">
                                            {{item.brand}} {{item.model}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="column">
                                <div class="select">
                                    <select class="font">
                                        <option>ช่วงราคา</option>
                                        <option>500-999 ฿</option>
                                        <option>1000-1999 ฿</option>
                                        <option>2000-2999 ฿</option>
                                        <option>3000-3999 ฿</option>
                                        <option>4000-4999 ฿</option>
                                        <option>5000 ฿ ขึ้นไป</option>
                                    </select>
                                </div>
                            </div>
                            <div class="column">
                                <div class="select">
                                    <select class="font">
                                        <option>จำนวนที่นั่ง</option>
                                        <option>2 ที่นั่ง</option>
                                        <option>4 ที่นั่ง</option>
                                        <option>5 ที่นั่ง</option>
                                        <option>6 ที่นั่ง</option>
                                        <option>7 ที่นั่ง</option>
                                        <option>9 ที่นั่ง</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class=" font" style="width: 100%;" type="submit ">ค้นหา</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- status bar-->
        <div class="hero-body">
            <div class="columns is-5 is-size-6 has-text-centered">
                <div class="column">
                    <img src="https://media.discordapp.net/attachments/1072181252964233328/1077065590067433612/image_33.png" alt="">
                    <p><b>รถเช่าคุณภาพมาตราฐาน<br> พร้อมให้บริการ</b>
                    </p>
                </div>
                <div class="column">
                    <img src="https://media.discordapp.net/attachments/1072181252964233328/1077066993867436202/image_34.png" alt="">
                    <p><b>ราคาเข้าถึงง่าย
                            <br>สบายกระเป๋า </b>
                    </p>

                </div>
                <div class="column">
                    <img src="https://media.discordapp.net/attachments/1072181252964233328/1077066993666101278/image_38.png" alt="">
                    <p><b>มีประกันค่าเสียหาย</b></p>
                </div>
                <div class="column">
                    <img src="https://media.discordapp.net/attachments/1072181252964233328/1077066993452195952/image_37.png" alt="">
                    <p><b>มีเจ้าหน้าที่พร้อมดูแลคุณ
                            <br> ตลอดการเดินทาง
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <!-- card Toyota -->
        <div class="column">
            <div class="container is-max-desktop "> <b>
                    รถเช่ายอดฮิต<br><br>
                </b>
                <div class="columns is-half">
                    <div class="column is-two-fifths">
                        <div class="column px-6">
                            <div class="card-image">
                                <p>
                                    <b class="is-size-3">Toyota</b>
                                </p><br><br>
                                <figure class="image is-3by3">
                                    <img src="https://media.discordapp.net/attachments/1072181252964233328/1077261540748701726/home_car.png" alt="Placeholder image ">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="is-multiline is-variable columns is-1 ">
                            <div v-for="(item, index) in cars " id="card_product " class="column is-one-third" v-if="item.show_toyota === true">
                                <div class="card has-text-centered is-border-radius ">
                                    <div class="card-image px-5 pt-2 ">
                                        <figure class="image is-4by3 ">
                                            <img :src='item.img' alt="Placeholder image ">
                                        </figure>
                                    </div>
                                    <div class="card-content ">
                                        <div class="media ">
                                            <div class="media-content ">
                                                <p class="title is-size-6 limit_text ">{{item.brand}} {{item.model}}</p>
                                                <p class="subtitle is-size-7 "> <img src="https://media.discordapp.net/attachments/1072181252964233328/1077073362708332614/image_18.png " alt=" ">
                                                    <b>{{item.seat}} ที่นั้ง
                                                        <br> เริ่มต้น {{item.price}} บาท/วัน</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="card-footer ">
                                        <a @click="detailCar(item)" class="card-footer-item is-size-6 is-color-green3 has-text-white ">จองคันนี้</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card Nissan -->
        <div class="column">
            <div class="container is-max-desktop ">
                <div class="columns is-half">
                    <div class="column is-two-fifths">
                        <div class="column px-6">
                            <div class="card-image">
                                <p>
                                    <b class="is-size-3">Nissan</b>
                                </p><br><br>
                                <figure class="image is-3by3">
                                    <img src="https://media.discordapp.net/attachments/1072181252964233328/1077263056326889543/gqdupg.png?width=1180&height=663" alt="Placeholder image ">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="is-multiline is-variable columns is-1 ">
                            <div v-for="item in cars " id="card_product " class="column is-one-third" v-if="item.show_nissan === true">
                                <div class="card has-text-centered is-border-radius ">
                                    <div class="card-image px-5 pt-2 ">
                                        <figure class="image is-4by4 ">
                                            <img :src='item.img' alt="Placeholder image ">
                                        </figure>
                                    </div>
                                    <div class="card-content ">
                                        <div class="media ">
                                            <div class="media-content ">
                                                <p class="title is-size-6 limit_text ">{{item.brand}} {{item.model}}</p>
                                                <p class="subtitle is-size-7 "> <img src="https://media.discordapp.net/attachments/1072181252964233328/1077073362708332614/image_18.png " alt=" ">
                                                    <b>{{item.seat}} ที่นั้ง
                                                        <br> เริ่มต้น {{item.price}} บาท/วัน</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="card-footer ">
                                        <a @click="detailCar(item)" class="card-footer-item is-size-6 is-color-green3 has-text-white ">จองคันนี้</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card Honda -->
        <div class="column">
            <div class="container is-max-desktop ">
                <div class="columns is-half">
                    <div class="column is-two-fifths">
                        <div class="column px-6">
                            <div class="card-image">
                                <p>
                                    <b class="is-size-3">Honda</b>
                                </p><br><br>
                                <figure class="image is-3by3">
                                    <img src="https://media.discordapp.net/attachments/1072181252964233328/1077265050923962449/1-honda-city-can-tho-auto-removebg-preview.png" alt="Placeholder image ">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="is-multiline is-variable columns is-1 ">

                            <div v-for="item in cars " id="card_product " class="column is-one-third" v-if="item.brand == 'Honda'">
                                <div class="card has-text-centered is-border-radius ">
                                    <div class="card-image px-5 pt-2 ">
                                        <figure class="image is-4by4 ">
                                            <img :src='item.img' alt="Placeholder image ">
                                        </figure>
                                    </div>
                                    <div class="card-content ">
                                        <div class="media ">
                                            <div class="media-content ">
                                                <p class="title is-size-6 limit_text ">{{item.brand}} {{item.model}}</p>
                                                <p class="subtitle is-size-7 "> <img src="https://media.discordapp.net/attachments/1072181252964233328/1077073362708332614/image_18.png " alt=" ">
                                                    <b>{{item.seat}} ที่นั้ง
                                                        <br> เริ่มต้น {{item.price}} บาท/วัน</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="card-footer ">
                                        <a @click="detailCar(item)" class="card-footer-item is-size-6 is-color-green3 has-text-white ">จองคันนี้</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card other -->
        <div class="column">
            <div class="container is-max-desktop px-6">
                <div class="column">
                    <P>
                        <b class="is-size-3">Other</b>
                    </p><br>
                    <div class="is-multiline is-variable columns is-1 pl-6">
                        <div v-for="item in cars " id="card_product " class="column is-one-quarter " v-if="(item.other === true )">
                            <div class="card has-text-centered is-border-radius ">
                                <div class="card-image">
                                    <figure class="image is-4by4 ">
                                        <img :src='item.img' alt="Placeholder image ">
                                    </figure>
                                </div>
                                <div class="card-content ">
                                    <div class="media ">
                                        <div class="media-content ">
                                            <p class="title is-size-6 limit_text ">{{item.brand}} {{item.model}}</p>
                                            <p class="subtitle is-size-7 "> <img src="https://media.discordapp.net/attachments/1072181252964233328/1077073362708332614/image_18.png " alt=" ">
                                                <b>{{item.seat}} ที่นั้ง
                                                    <br> เริ่มต้น {{item.price}} บาท/วัน</b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <footer class="card-footer ">
                                    <a @click="detailCar(item)" class="card-footer-item is-size-6 is-color-green3 has-text-white ">จองคันนี้</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Q&A -->
    <div class="columns">
        <div id="ques" class="container is-max-desktop">
            <!-- <div class="column is-2"></div> -->
            <div class="column">
                <p>คำถามและข้อสงสัย ในการใช้บริการเช่ารถยนตู้</p>
                <div class="select column" v-for="quess in content" :key="quess.id " :value="quess.id ">
                    <select class="font" style="width: 100%">
                        <option  >
                            {{quess.ask}}
                        </option>
                        <option >
                            {{quess.ans}}
                        </option>
                    </select>

                </div>
            </div>
            <!-- <div class="column is-2"></div> -->
            <!-- <div class="column">
                <div v-for="(item, index) in content">
                    <div class="dropdown " :class="{'is-active': item.active}">
                        <div class="dropdown-trigger">
                            change = index; content[change].active = false
                            <button @click="item.active = !item.active; content.change = content.change + 1;" class="button" aria-haspopup="true" aria-controls="dropdown-menu5">
                        <span>{{item.ask}} {{item.active}} {{content.change}}</span>
                        <p></p>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu5" role="menu">
                            <div class="dropdown-content">
                                <div class="dropdown-item">
                                    <p>{{item.ans}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
    </div>

    <!-- footer -->
    <footer class="footer is-gradient ">
        <div class="content  has-text-white ">
            <div class="columns">
                <div class="column is-9">
                    <div class="is-size-5 has-text-weight-bold"> <img src="https://media.discordapp.net/attachments/1072181252964233328/1076461183864934431/9611156.png" height="25" width="25"> ChaoCarHUB <br><br></div>
                    <p>
                        จัดทำโดย <br> 64070149 ดวงกมล พบสูงเนิน <br>64070153 ทัตพร ตันนารัตน
                        <br>เว็บไซต์นี้เป็นส่วนหนึ่งของวิชา Web Programming
                        <br>คณะเทคโนโลยีสารสนเทศสถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
                    </p>
                </div>
                <div class="column">
                    <p>ติดตามเรา</p>
                    <img src="https://media.discordapp.net/attachments/1072181252964233328/1077598053269254274/face_ig_tw.png">
                </div>
            </div>
    </footer>

</body>


<script src="car_demo.js "></script>
<script src="navbar.js "></script>
<script src="Q&A.js"></script>

</html>
