<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>me_returncar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="navbar">
        <navbar-div></navbar-div>
    </div>
    <div id="rapp">
        <section class="hero is-success is-halfheight is-gradient">
            <div class="hero-body">
                <div class="">
                    <p class="title">
                        {{myname}}
                    </p>
                    <p class="subtitle">
                        Track your rental status here!
                    </p>
                </div>
            </div>
        </section>

        <!-- status bar-->
        <section class="hero is-small border_td" style="background-color: var(--color-background);">
            <div class="hero-body">
                <div class="columns is-5 has-text-centered">
                    <div class="column " id="ibar">
                        <a href="me_checkout.html" class="has-text-black ">
                            <img class="icon" src="https://media.discordapp.net/attachments/1072181252964233328/1076845329321824256/wallet.png" alt="">
                            <p>Check out</p>
                        </a>
                    </div>
                    <div class="column " id="ibar">
                        <a href="me_pickupcar.html" class="has-text-black">
                            <img class="icon" src="https://cdn.discordapp.com/attachments/1072181252964233328/1076845328743022653/car.png" alt="">
                            <p>Pick up car</p>
                        </a>

                    </div>
                    <div class="column is-color-transgreen">
                        <a class="has-text-black">
                            <img class="icon" src="https://cdn.discordapp.com/attachments/1072181252964233328/1076845328537489458/garage.png" alt="">
                            <p>Return car</p>
                        </a>
                    </div>
                    <div class="column" id="ibar">
                        <a href="me_history.html" class="has-text-black">
                            <img class="icon" src="https://cdn.discordapp.com/attachments/1072181252964233328/1076845401061195826/file-document.png" alt="">
                            <p>History</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Return car คืนรถ-->

        <div class="columns pb-6">
            <div class="column is-half is-8 is-offset-2 pt-6">
                <div class="card has-text-centered p-5">
                    <div class="columns is-10 ">
                        <div class=" card-header-title columns is-7 ">
                            <div class="column is-8 is-size-3">{{store.brand}} {{store.model}}
                                <div class="card-image image is-4by3 ">
                                    <img :src="store.img "> </div>
                            </div>
                            <div class="column pl-6">
                                <div class="column pt-6">
                                    <p class="subtitle is-size-7 column_number">
                                        <img src="https://cdn.discordapp.com/attachments/1072181252964233328/1078900607802408990/user.png" height="20" width="20">
                                        <span class="pl-2">{{store.seat}} ที่นั้ง</span>
                                    </p>
                                </div>
                                <div class="column pt-5">
                                    <p class="subtitle is-size-7 column_number">
                                        <img src="https://cdn.discordapp.com/attachments/1072181252964233328/1078900607567540294/bag.png" height="20" width="20">
                                        <span class="pl-2">{{store.bag}} กระเป๋า</span>
                                    </p>
                                </div>
                                <div class="column pt-5">
                                    <p class="subtitle is-size-7 column_number">
                                        <img src="https://cdn.discordapp.com/attachments/1072181252964233328/1078900607286509598/car-gear.png" height="20" width="20">
                                        <span class="pl-2">อัตโนมัติ</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4 ">
                            <!-- return progress -->
                            <p v-if="returnCar == false" class=" is-size-4" style="background-color: #99e2f2;">
                                <b>คืนรถ</b></p>
                            <p v-else class=" is-size-4" style="background-color: #99e2f2;">
                                <b>กำลังดำเนินการ</b></p>
                            <div class="column p-5 is-size-6">
                                <div class="column has-text-left">
                                    <p><b>การคืนรถ</b></p>
                                    <p>สนามบินสุวรรณภูมิ</p>
                                    <p>อ. 14 ก.พ. 10.00 น.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="columns">
                        <div class="column is-size-6 ">ราคาสำหรับ 3 วัน 10768 บาท</div>
                        <div class="column is-size-6 pl-6">
                            <p class="subtitle is-size-6 column_number">
                                <img src="https://media.discordapp.net/attachments/1072181252964233328/1079444615184257074/success_1.png" height="20" width="20"><span class="pl-2"> ชำระเงินสำเร็จแล้ว</span>
                            </p>
                        </div>
                        <a v-if="returnCar == false" class="column is-size-6 ">
                            <button @click="returnCar = true" class="button btn has-text-white font" style="width: 100%;">คืนรถ</button>
                        </a>
                        <a v-else class="column is-size-6 ">
                            <button class="button btn has-text-white font" style="width: 100%; opacity:40% ;">คืนรถ</button>

                        </a>
                    </footer>
                </div>

            </div>
        </div>
    </div>
    <div id="footer">
        <footer-div></footer-div>
    </div>
</body>

<script src="./data/rental.js"></script>
<script src="./component/navbar.js "></script>
<script src="./component/footer.js"></script>

</html>
