<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View_car</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src=" https://use.fontawesome.com/releases/v5.14.0/js/all.js "></script>
</head>

<body>
    <div id="app">
        <div id="navbar">
            <navbar-div></navbar-div>
        </div>
        <section class="hero is-gradient">
            <p class="has-text-white has-text-centered is-size-2 pt-6">บริการเช่ารถภายในจังหวัดกรุงเทพมหานคร</p><br>
            <div class="column px-6">
                <div class="columns">
                    <div class="column">
                        <div class="columns">
                            <div class="hero-body">
                                <div class="column pl-6">
                                    <p class="title is-size-4 has-text-white">
                                        ขั้นตอนง่ายๆในการใช้บริการเช่ารถ </p>
                                    <div class="column pt-4">
                                        <p class="column_number is-size-5 has-text-white">
                                            <img src="https://media.discordapp.net/attachments/1072181252964233328/1076538656891871343/8921537.png " height="30 " width="30 ">
                                            <span class="pl-2">ระบุวันเดินทาง</span>
                                        </p>
                                    </div>
                                    <div class="column pt-4">
                                        <p class="column_number is-size-5 has-text-white">
                                            <img src="https://media.discordapp.net/attachments/1072181252964233328/1076542459863105676/8921602.png " height="30 " width="30 ">
                                            <span class="pl-2">ระบุรุ่นรถ/ช่วงราคา/จำนวนที่นั่งที่ต้องการ</span>
                                        </p>
                                    </div>
                                    <div class="column pt-4">
                                        <p class="column_number is-size-5 has-text-white">
                                            <img src="https://media.discordapp.net/attachments/1072181252964233328/1076542609008365669/8921657.png " height="30 " width="30 ">
                                            <span class="pl-2">กดค้นหารถ</span>
                                        </p>
                                    </div>
                                    <div class="column pt-4">
                                        <p class="column_number is-size-5 has-text-white">
                                            <img src="https://media.discordapp.net/attachments/1072181252964233328/1076542525931802734/8921717.png " height="30 " width="30 ">
                                            <span class="pl-2">กดจองรถที่ต้องการ</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- search car -->
                    <div class="column">
                        <div class="hero-body ">
                            <div class="card  p-5 has-background-primary-light ">
                                <p class="title is-size-6 ">
                                    1. ระบุวันเดินทาง
                                </p>
                                <p class="subtitle is-size-6 ">
                                    <div class="columns ">
                                        <div class="column is-6 ">
                                            วันและเวลารับรถ<br>
                                            <input v-model="rent.dsend" class="cololr_input_card" type="date" data-start-date="10/24/2019" :class="{ 'is-danger': errorday.rent_dsend} " @input="validateRentDsend()">
                                            <input v-model="rent.time" class="cololr_input_card" type="time" id="appt " name="appt" min="09:00" max="18:00" required @input="validateRentDsend()"><br>
                                            <span class="has-text-danger ertext ml-3 ">{{errorday.rent_dsend}}</span>

                                        </div>
                                        <div class="column is-6 ">
                                            วันและเวลาคืนรถ<br>
                                            <input v-model="rent.dreturn" class="cololr_input_card" type="date" data-start-date="10/24/2019" :class="{ 'is-danger': errorday.rent_dreturn} " @input="validateRentDreturn()">
                                            <input v-model="rent.time" class="cololr_input_card" type="time" id="appt " name="appt" min="09:00" max="18:00" required @input="validateRentDreturn()"><br>
                                            <span class="has-text-danger ertext ml-3 ">{{errorday.rent_dreturn}}</span>
                                        </div>
                                    </div>
                                </p>
                                <p class="title is-size-6 ">
                                    2. ระบุรุ่นรถ/ช่วงราคา/จำนวนที่นั่งที่ต้องการ
                                </p>
                                <div class="columns ">
                                    <div class="column ">
                                        รุ่นรถที่ต้องการ<br>
                                        <div class="select ">
                                            <select v-model="sbrand" class="font ">
                                        <option v-for="brandcar in brandcar" :key="brandcar.id " :value="brandcar">
                                            {{brandcar}}
                                        </option>
                                    </select>
                                        </div>
                                    </div>
                                    <div class="column ">
                                        ช่วงราคา<br>
                                        <div class="select ">
                                            <select v-model="sprice" class="font">
                                        <option v-for="pricecar in pricecar" :key="pricecar.id " :value="pricecar">
                                            {{pricecar}} ฿
                                        </option>
                                    </select>
                                        </div>
                                    </div>
                                    <div class="column ">
                                        จำนวนที่นั่ง<br>
                                        <div class="select ">
                                            <select v-model="sseat" class="font ">
                                        <option v-for="seatcar in seatcar" :key="seatcar.id " :value="seatcar">
                                            {{seatcar}} ที่นั่ง
                                        </option>
                                    </select>
                                        </div>
                                    </div>
                                </div>
                                <button @click="search()" class="button color-card-search has-text-white font " style="width: 100%; " type="submit ">ค้นหารถว่าง</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </section>

        <!-- card car-->
        <div class="column">
            <div class="container is-max-desktop "><br>
                <b>รุ่นรถ/ช่วงราคา/จำนวนที่นั่ง<br><br>
                </b>
                <div class="columns">
                    <div class="column">
                        <div class="is-multiline is-variable columns ">
                            <div v-for="(item, index) in filter_car" id="card_product " class="column is-one-quarter">
                                <div class="card has-text-centered is-border-radius ">
                                    <div class="card-image px-5 pt-2 ">
                                        <figure class="image is-4by3 ">
                                            <img :src='item.img' alt="Placeholder image ">
                                        </figure>
                                    </div>
                                    <div class="card-content ">
                                        <div class="media ">
                                            <div class="media-content ">
                                                <p class="title is-size-6 limit_text ">{{item.brand}} {{item.model}}</p>
                                                <p class="subtitle is-size-7 "> <img src="https://media.discordapp.net/attachments/1072181252964233328/1077073362708332614/image_18.png " alt=" ">
                                                    <b>{{item.seat}} ที่นั้ง
                                                        <br> เริ่มต้น {{item.price}} บาท/วัน</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <footer id="app" class="card-footer ">
                                        <a @click="detailCar(item)" class="card-footer-item is-size-6 is-color-green3 has-text-white ">จองคันนี้</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div id="footer">
        <footer-div></footer-div>
    </div>
</body>


<script src="./data/car_demo.js "></script>
<script src="./component/navbar.js "></script>
<script src="./component/footer.js"></script>

</html>
