<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View_car</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src=" https://use.fontawesome.com/releases/v5.14.0/js/all.js "></script>
</head>

<body>
    <div id="app">
        <div id="navbar">
            <navbar-div></navbar-div>
        </div>
        <section class="hero is-gradient is-medium">
            <div class="columns">
                <div class="columns">
                    <div class="hero-body ">
                        <div class="column pl-6">
                            <p class="title is-size-4 has-text-white">
                                ขั้นตอนง่ายๆในการใช้บริการเช่ารถ </p>
                            <div class="column">
                                <p class="subtitle is-size-5 has-text-white">
                                    <img src="https://media.discordapp.net/attachments/1072181252964233328/1076538656891871343/8921537.png" height="30" width="30"> ระบุวันเดินทาง
                                </p>
                            </div>
                            <div class="column">
                                <p class="subtitle is-size-5 has-text-white">
                                    <img src="https://media.discordapp.net/attachments/1072181252964233328/1076542459863105676/8921602.png" height="30" width="30"> ระบุรุ่นรถ/ช่วงราคา/จำนวนที่นั่งที่ต้องการ
                                </p>
                            </div>
                            <div class="column">
                                <p class="subtitle is-size-5 has-text-white">
                                    <img src="https://media.discordapp.net/attachments/1072181252964233328/1076542609008365669/8921657.png" height="30" width="30"> กดค้นหารถ
                                </p>
                            </div>
                            <div class="column">
                                <p class="subtitle is-size-5 has-text-white">
                                    <img src="https://media.discordapp.net/attachments/1072181252964233328/1076542525931802734/8921717.png" height="30" width="30"> กดจองรถที่ต้องการ
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- search car -->
                 <div class="hero-body ">
                    <div class="card column p-5 has-background-primary-light ">
                        <p class="title is-size-6 ">
                            1. ระบุวันเดินทาง
                        </p>
                        <p class="subtitle is-size-6 ">
                            <div class="columns ">
                                <div class="column is-6 ">
                                    วันและเวลารับรถ<br>
                                    <input v-model="rent_dsend" class="cololr_input_card" type="date" value="01/01/2023" data-start-date="10/24/2019">
                                    <input v-model="rent_time" class="cololr_input_card" type="time" id="appt " name="appt" min="09:00" max="18:00" required>
                                </div>
                                <div class="column is-6 ">
                                    วันและเวลาคืนรถ<br>
                                    <input v-model="rent_dreturn" class="cololr_input_card" type="date" value="01/01/2023 " data-start-date="10/24/2019">
                                    <input v-model="rent_time" class="cololr_input_card" type="time" id="appt " name="appt" min="09:00" max="18:00" required>
                                </div>
                            </div>
                        </p>
                        <p class="title is-size-6 ">
                            2. ระบุรุ่นรถ/ช่วงราคา/จำนวนที่นั่งที่ต้องการ
                        </p>
                        <div class="columns ">
                            <div class="column ">
                                รุ่นรถที่ต้องการ<br>
                                <div class="select ">
                                    <select v-model="sbrand" class="font ">                                
                                        <option v-for="item in cars " :key="item.id " :value="item.brand ">
                                            {{item.brand}} {{item.model}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="column ">
                                ช่วงราคา<br>
                                <div class="select ">                                    
                                    <select v-model="sprice" class="font">                                        
                                        <option value="500-999">500-999 ฿</option>
                                        <option value="1000-1999">1000-1999 ฿</option>
                                        <option value="2000-2999">2000-2999 ฿</option>
                                        <option value="3000-3999">3000-3999 ฿</option>
                                        <option value="4000-4999">4000-4999 ฿</option>
                                        <option value="5000">5000 ฿ ขึ้นไป</option>
                                    </select>
                                </div>
                            </div>
                            <div class="column ">
                                จำนวนที่นั่ง<br>
                                <div class="select ">
                                    <select v-model="sseat" class="font ">                                        
                                        <option value="2">2 ที่นั่ง</option>
                                        <option value="4">4 ที่นั่ง</option>
                                        <option value="5">5 ที่นั่ง</option>
                                        <option value="6">6 ที่นั่ง</option>
                                        <option value="7">7 ที่นั่ง</option>
                                        <option value="9">9 ที่นั่ง</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button @click="search()" class="button color-card-search has-text-white font " style="width: 100%; " type="submit ">ค้นหารถว่าง</button>
                    </div>
                </div>
            </div>
        </section>
              
        <!-- card car-->
        <div class="column">
            <div class="container is-max-desktop "><br>
                <b>รุ่นรถ/ช่วงราคา/จำนวนที่นั่ง<br><br>
                </b>
                <div class="columns">
                    <div class="column">
                        <div class="is-multiline is-variable columns ">
                            <div v-for="(item, index) in filter_car" id="card_product " class="column is-one-quarter">
                                <div class="card has-text-centered is-border-radius ">
                                    <div class="card-image px-5 pt-2 ">
                                        <figure class="image is-4by3 ">
                                            <img :src='item.img' alt="Placeholder image ">
                                        </figure>
                                    </div>
                                    <div class="card-content ">
                                        <div class="media ">
                                            <div class="media-content ">
                                                <p class="title is-size-6 limit_text ">{{item.brand}} {{item.model}}</p>
                                                <p class="subtitle is-size-7 "> <img src="https://media.discordapp.net/attachments/1072181252964233328/1077073362708332614/image_18.png " alt=" ">
                                                    <b>{{item.seat}} ที่นั้ง
                                                        <br> เริ่มต้น {{item.price}} บาท/วัน</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <footer id="app" class="card-footer ">
                                        <a @click="detailCar(item)" class="card-footer-item is-size-6 is-color-green3 has-text-white ">จองคันนี้</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer class="footer is-gradient ">
        <div class="content  has-text-white ">
            <div class="columns">
                <div class="column is-9">
                    <div class="is-size-5 has-text-weight-bold"> <img src="https://media.discordapp.net/attachments/1072181252964233328/1076461183864934431/9611156.png" height="25" width="25"> ChaoCarHUB <br><br></div>
                    <p>
                        จัดทำโดย <br> 64070149 ดวงกมล พบสูงเนิน <br>64070153 ทัตพร ตันนารัตน
                        <br>เว็บไซต์นี้เป็นส่วนหนึ่งของวิชา Web Programming
                        <br>คณะเทคโนโลยีสารสนเทศสถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
                    </p>
                </div>
                <div class="column">
                    <p>ติดตามเรา</p>
                    <img src="https://media.discordapp.net/attachments/1072181252964233328/1077598053269254274/face_ig_tw.png">
                </div>
            </div>
    </footer>
<script>
    var app = new Vue({
    el: '#app1',
    data: {
        filter_car:[],
    },
    // created(){
    //     const text = JSON.parse(localStorage.getItem("mycart"))
    //     this.filter_car = text
    //     console.log(text)
    // }
    })
</script>

</body>


<script src="car_demo.js "></script>
<script src="navbar.js "></script>


</html>
